[Unit]
Description=Use Voice Kit button to start talking to ChatGPT

[Service]
Type=simple
#User=vic
#Group=vic
#SupplementaryGroups=audio
Restart=always
RestartSec=1
ExecStart=/usr/bin/bash -c 'cd /home/vic/aiychatgpt && source env/bin/activate && ./aiychatgpt.py'

[Install]
WantedBy=default.target
